<div class="article" >
 <div class="ar_title"> <h4 class="right_tit"> {{$ctrl.article.title}}</h4> 
 <p class= "ar_time" > <i class="fa fa-clock-o" aria-hidden="true"></i> اخر تعديل :  {{$ctrl.article.updated_time}}</p></div>

  <img class="img-responsive img-rounded" src="">
 <div class="ar_desc text-justify">  {{$ctrl.article.small_desc}}      </div>
 
 <div class="part" >
 
  <h5 class=" orange wdg_title" > الهدف من الورشة : </h5>
  رفع قدرات اعضاء هيئة التدريس لانتاج المقررات الالكترونية ذاتيا وفق احدث المعايير التربوية باستخدام وسائل تكنولوجيا التعليم الحديثة 

   </div>
   
  <div class="part" >
 
  <h5 class="orange wdg_title" > للحجز و الاستعلام </h5>
<div class="alert alert-warning">  اخر ميعاد للحجز   3-4-2016 </div>
  
 <p> يرجى الاتصال بوحدة التعلم الالكتروني جامعة القاهرة عن طريق  :  </p>
  

                
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> العنوان : </span> شارع احمد زويل - مبنى التعليم المفتوح
جامعة القاهرة - الجيزة - مصر </li>
                  <li><i class="fa fa-phone"></i> <span> التليفون : </span> +(202)01000963407 </li>
                  <li><i class="fa fa-envelope"></i> <span> البريد الالكتروني :</span><a href="mailto:elc.cu.eg@gmail.com">elc.cu.eg@gmail.com </a></li>
                  <li><i class="fa fa-globe"></i> <span> موقع المقررات الالكترونية : </span> <a href="http://elc.cu.edu.eg/E_learning/" target="_blank" >http://elc.cu.edu.eg/E_learning</a></li>
                </ul>
               
   </div>  
   <div class="part" >
     <img src="images/news/final-Ad-1.jpg" class="img-responsive"></div>  
   

   </div>